{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}
{% block extrahead %}
<style>
    #id_captcha_1 {
        margin-top: 20px;
    }
</style>
{% endblock extrahead %}
{% block content %}
{% load humanize %}
        <!--  main start  -->
        <div id="main">
            <!-- wrapper -->
            <div id="wrapper">
                <!-- content-holder -->
                <div class="content-holder">
                    <!-- column-image  -->
                    <div class="column-image">
                        <div class="bg"  data-bg="{% static 'images/bg/13.jpg' %}"></div>
                        <div class="overlay"></div>
                        <div class="column-title">
                            <h2>ارتباط با ما</h2>
                            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</h3>
                        </div>
                        <div class="ci_dec"><span></span></div>
                    </div>
                    <!-- column-image end  -->
                    <!-- column-wrapper -->
                    <div class="column-wrapper">
                        <!--section  -->
                        <section id="sec1">
                            <div class="container small-container">
                                <div class="section-title fl-wrap">
									<div class="section-number">.01</div><br /><br /><br />
                                    <h3>ارتباط با ما</h3>
                                    <h4>در ادامه برخی از روش های ارتباط با ما را خواهید یافت، منتظرتان هستیم</h4>
                                </div>
                                <div class="column-wrapper_item fl-wrap">
                                    <div class="column-wrapper_text fl-wrap">
                                        <p>Cras mattis iudicium purus sit amet fermentum at nos hinc posthac, sitientis piros afros. Lorem ipsum dolor sit amet, consectetur adipisici elit, petierunt uti sibi concilium totius Galliae in diem sed eius mod tempor incidunt ut labore et dolore magna aliqua. Pellentesque habitant morbi tristique senectus et netus piros labore et dolore magna.
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.
                                        </p>
                                        <div class="contact-details fl-wrap">
                                            <ul>
                                                <li><span>Mail :</span><a href="#" target="_blank">l.o0of.war@gmail.com</a></li>
                                                <li><span>Adress :</span><a href="#" target="_blank">USA 27TH Brooklyn NY</a></li>
                                                <li><span>Phone :</span><a href="#">051-44231123</a> , <a href="#">09155710393</a></li>
                                            </ul>
                                        </div>
                                        <a href="#sec3" class="custom-scroll-link btn fl-btn">Say Hello</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--section end  -->
                        <!--section   -->
                        <section id="sec2">
                            <div class="container small-container">
                                <div class="section-title fl-wrap">
									<div class="section-number">.02</div><br /><br /><br />
                                    <h3>Studio Location</h3>
                                    <h4>Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa</h4>
                                </div>
                                <div class="column-wrapper_item fl-wrap">
                                    <div class="column-wrapper_text fl-wrap">
                                        <div class="map-box">
                                            <div id="map-single"    data-latlog="[40.714 , -74.005]" data-popuptext="Our Location in New York ."></div>
                                        </div>
                                        <p>Praesent nec leo venenatis elit semper aliquet id ac enim. Maecenas nec mi leo. Etiam venenatis ut dui non hendrerit. Integer dictum, diam vitae blandit accumsan, dolor odio tempus arcu, vel ultrices nisi nibh vitae ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius lacinia vestibulum. Aliquam lobortis facilisis tellus, in facilisis ex vehicula ac. In malesuada quis turpis vel viverra.</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--section end  --> 
                        <!--section   -->
                        <section id="sec3">
                            <div class="container small-container">
                                <div class="section-title fl-wrap">
									<div class="section-number">.03</div><br /><br /><br />
                                    <h3>Get in Touch</h3>
                                    <h4>Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa</h4>
                                </div>
                                <div class="column-wrapper_item fl-wrap">
                                    <div class="column-wrapper_text fl-wrap">
                                        <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius lacinia vestibulum. Aliquam lobortis facilisis tellus, in facilisis ex vehicula ac. In malesuada quis turpis vel viverra.</p>
                                        <div id="contact-form" class="fl-wrap">
                                            <div id="message"></div>
                                            <form  class="custom-form" action="{% url 'light_mode:contact' %}" method="post">
                                                {% csrf_token %}
                                                <fieldset>
                                                    <input type="text" name="name" id="name" placeholder="نام *" value="" required="">
                                                    <input type="email"  name="email" id="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" placeholder="آدرس ایمیل *" value="" required="">
                                                    <input type="text"  name="subject" id="subject" placeholder="موضوع *" value="" required="">
                                                    <textarea name="message"  id="comments" cols="40" rows="3" placeholder="پیام شما *" required=""></textarea><br><br>
                                                    <div style="width: 50%; float: right; text-align: -webkit-right;" class="custom-form">
                                                        <div></div>
                                                        <div style="{% if 'dark' in request.path %}color: white;{% else %}color:black;{% endif %} font-size:15px;">
                                                            <h4>{{form.captcha.label}}</h4><br>
                                                        </div>
                                                        <div>
                                                            {{form.captcha}}
                                                        </div>
                                                        <button type="submit" class="btn float-btn flat-btn color-bg" id="submit">ارسال پیام</button>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!--section end  -->
                    </div>
                    <!-- column-wrapper -->
                    <!-- fixed-bottom-container -->
                    <div class="fixed-bottom-container">
                        <div class="scroll-down-wrap">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                        </div>
                        <div class="page-scroll-nav">
                            <nav class="scroll-init">
                                <ul>
                                    <li><a  href="#sec1" class="act-sec"></a><span>Details</span></li>
                                    <li><a  href="#sec2"></a><span>Location</span></li>
                                    <li><a  href="#sec3"></a><span>Write Me</span></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar color-bg"></div>
                        </div>
                    </div>
                    <!-- fixed-bottom-container end-->
                </div>
                <!-- content-holder end -->
            </div>
            <!-- wrapper end -->
            <!-- aside-column -->			
            <div class="aside-column">
                <!-- social_links-->
                <div class="header_social">
                    <ul>
                        <li><a href="#" target="_blank">Fb</a></li>
                        <li><a href="#" target="_blank">Ins</a></li>
                        <li><a href="#" target="_blank">Tw</a></li>
                        <li><a href="#" target="_blank">Tic</a></li>
                    </ul>
                </div>
                <!-- social_links end-->			
            </div>
            <!-- aside-column  end -->			
            <!-- footer -->
            <footer class="main-footer">
                <div class="footer_contacts">
                    <ul>
                        <li><span>Mail :</span><a href="#" target="_blank">yourmail@domain.com</a></li>
                        <li><span>Phone :</span><a href="#">09155710393</a></li>
                    </ul>
                </div>
                <div class="policy-box">
                    Photogam 2023 . All rights reserved.  
                </div>
            </footer>
            <div class="to-top-btn  to-top"><i class="fal fa-long-arrow-up"></i></div>
            <!-- footer end-->
            <div class="aside_dec"></div>
            <!-- sidebar-->
            <div class="sidebar-wrap">
                <div class="sidebar-wrap-container">
                    <!-- sb-widget-wrap-->
                    <div class="sb-widget-wrap fl-wrap">
                        <h3>Latest Works</h3>
                        <div class="sb-widget  fl-wrap">
                            <div class="categories_widget-wrap">
                                <!-- categories_widget_item-->
                                <a class="categories_widget_item" href="{% url 'light_mode:portfolio_single' %}">
                                    <div class="categories_widget_item_img">
                                        <img src="{% static 'images/folio/14.jpg' %}" class="respimg" alt="">
                                    </div>
                                    <span class="categories_widget_title">Crazy, Cute Couple</span>
                                </a>
                                <!-- categories_widget_item end-->
                                <!-- categories_widget_item-->
                                <a class="categories_widget_item" href="{% url 'light_mode:portfolio_single' %}">
                                    <div class="categories_widget_item_img">
                                        <img src="{% static 'images/folio/15.jpg' %}" class="respimg" alt="">
                                    </div>
                                    <span class="categories_widget_title">Alone on Nature</span>
                                </a>
                                <!-- categories_widget_item end-->							
                                <!-- categories_widget_item-->
                                <a class="categories_widget_item" href="{% url 'light_mode:portfolio_single' %}">
                                    <div class="categories_widget_item_img">
                                        <img src="{% static 'images/folio/16.jpg' %}" class="respimg" alt="">
                                    </div>
                                    <span class="categories_widget_title">Living in my dream</span>
                                </a>
                                <!-- categories_widget_item end-->
                                <!-- categories_widget_item-->
                                <a class="categories_widget_item" href="{% url 'light_mode:portfolio_single' %}">
                                    <div class="categories_widget_item_img">
                                        <img src="{% static 'images/folio/17.jpg' %}" class="respimg" alt="">
                                    </div>
                                    <span class="categories_widget_title">Sunny Side Up</span>
                                </a>
                                <!-- categories_widget_item end-->						
                            </div>
                        </div>
                    </div>
                    <!-- sb-widget-wrap end-->					
                    <!-- sb-widget-wrap-->
                    <div class="sb-widget-wrap fl-wrap">
                        <h3>Subscribe To  Newsletter</h3>
                        <div class="sb-widget  fl-wrap">
                            <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet,  </p>
                            <div class="subcribe-form fl-wrap">
                                <form id="subscribe">
                                    <input class="enteremail" name="email" id="subscribe-email" placeholder="Your Email" spellcheck="false" type="text">
                                    <button type="submit" id="subscribe-button" class="subscribe-button">Submit</button>
                                    <label for="subscribe-email" class="subscribe-message"></label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- sb-widget-wrap end-->
                    <!-- sb-widget-wrap-->
                    <div class="sb-widget-wrap fl-wrap">
                        <h3>Social Links</h3>
                        <div class="sb-widget    fl-wrap">
                            <div class="sidebar-social fl-wrap">
                                <ul>
                                    <li><a href="#" target="_blank">Fb</a></li>
                                    <li><a href="#" target="_blank">Tw</a></li>
                                    <li><a href="#" target="_blank">Ins</a></li>
                                    <li><a href="#" target="_blank">Tic</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- sb-widget-wrap end-->
                </div>
            </div>
            <div class="sb-overlay"></div>
            <!-- sidebar end-->				
        </div>
        <!-- Main end -->
{% endblock content %}