{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}
{% block extrahead %}
{% endblock extrahead %}
{% block content %}
        <!--  main start  -->
        <div id="main">
            <!-- wrapper -->
            <div id="wrapper">
                <!-- content-holder -->
                <div class="content-holder">
                    <!-- hero-carousel-wrapper -->
                    <div class="hero-carousel-wrapper hcw_2">
                        <div class="fs-slider2 main-carousel lightgallery full-height fs-anim-t" data-mousecontrol2="true">
                            <div class="swiper-container full-height ">
                                <div class="swiper-wrapper" >
                                    <!-- swiper-slide-->
                                    <div class="swiper-slide">
                                        <div class="main-carousel_item fs-wrapper">
                                            <div class="bg"  data-bg="{% static 'images/bg/13.jpg' %}" data-swiper-parallax="10%"></div>
                                            <div class="overlay"></div>
                                            <div class="thumb-info">
                                                <h3><a href="{% url 'light_mode:portfolio_single' %}" class="ajax">The other side of me</a></h3>
                                                <p>Here you can place an optional description of your  Project</p>
                                                <a href="{% url 'light_mode:portfolio_single' %}" class="ajax fs-slider-item_btn">View Case</a>
                                            </div>
                                            <div class="slide_category">outdoor</div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end-->
                                    <!-- swiper-slide-->
                                    <div class="swiper-slide">
                                        <div class="main-carousel_item fs-wrapper">
                                            <div class="bg"  data-bg="{% static 'images/bg/17.jpg' %}" data-swiper-parallax="10%"></div>
                                            <div class="overlay"></div>
                                            <div class="thumb-info">
                                                <h3><a href="{% url 'light_mode:portfolio_single' %}" class="ajax">Sunny side up</a></h3>
                                                <p>Here you can place an optional description of your  Project</p>
                                                <a href="{% url 'light_mode:portfolio_single' %}" class="ajax fs-slider-item_btn">View Case</a>
                                            </div>
                                            <div class="slide_category">outdoor</div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end-->
                                    <!-- swiper-slide-->
                                    <div class="swiper-slide">
                                        <div class="main-carousel_item fs-wrapper">
                                            <div class="bg"  data-bg="{% static 'images/bg/1.jpg' %}" data-swiper-parallax="10%"></div>
                                            <div class="overlay"></div>
                                            <div class="thumb-info">
                                                <h3><a href="{% url 'light_mode:portfolio_single' %}" class="ajax">A Wonderful Life</a></h3>
                                                <p>Here you can place an optional description of your  Project</p>
                                                <a href="{% url 'light_mode:portfolio_single' %}" class="ajax fs-slider-item_btn">View Case</a>
                                            </div>
                                            <div class="slide_category">models</div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end-->											
                                    <!-- swiper-slide-->
                                    <div class="swiper-slide">
                                        <div class="main-carousel_item fs-wrapper">
                                            <div class="bg"  data-bg="{% static 'images/bg/16.jpg' %}" data-swiper-parallax="10%"></div>
                                            <div class="overlay"></div>
                                            <div class="thumb-info">
                                                <h3><a href="{% url 'light_mode:portfolio_single' %}" class="ajax">Alone on the Nature</a></h3>
                                                <p>Here you can place an optional description of your  Project</p>
                                                <a href="{% url 'light_mode:portfolio_single' %}" class="ajax fs-slider-item_btn">View Case</a>
                                            </div>
                                            <div class="slide_category">outdoor</div>
                                        </div>
                                    </div>
                                    <!-- swiper-slide end-->											
                                </div>
                            </div>
                        </div>
                        <div class="ccsw ssanim_btn  ccsw-prev">
                            <i class="fal fa-angle-left"></i>
                        </div>
                        <div class="ccsw ssanim_btn ccsw-next">
                            <i class="fal fa-angle-right"></i>
                        </div>
                        <div class="fs-slider_counter">
                            <div class="current">01</div>
                            <div class="total"></div>
                        </div>
                    </div>
                    <!-- fixed-bottom-container -->
                    <div class="fixed-bottom-container">
                        <div class="scroll-down-wrap">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                        </div>
                        <div class="hero-slider-wrap_pagination-wrap">
                            <div class="hero-slider-wrap_pagination hero-slider-pag"></div>
                        </div>
                        <div class="slide-progress-wrap">
                            <div class="slide-progress"></div>
                        </div>
                    </div>
                    <!-- fixed-bottom-container end-->
                </div>
                <!-- content-holder end -->
            </div>
            <!-- wrapper end -->
            <!-- aside-column -->			
            <div class="aside-column">
                <!-- social_links-->
                <div class="header_social">
                    <ul>
                        <li><a href="#" target="_blank">Fb</a></li>
                        <li><a href="#" target="_blank">Ins</a></li>
                        <li><a href="#" target="_blank">Tw</a></li>
                        <li><a href="#" target="_blank">Tic</a></li>
                    </ul>
                </div>
                <!-- social_links end-->			
            </div>
            <!-- aside-column  end -->
            <!-- footer -->
            <footer class="main-footer">
                <div class="footer_contacts">
                    <ul>
                        <li><span>Mail :</span><a href="#" target="_blank">yourmail@domain.com</a></li>
                        <li><span>Phone :</span><a href="#">+3(111)123456789</a></li>
                    </ul>
                </div>
                <div class="policy-box">
                    Mr.BoO 2023 . All rights reserved.  
                </div>
            </footer>
            <!-- footer end-->
            <div class="aside_dec"></div>
            <!-- sidebar-->
            <div class="sidebar-wrap">
                <div class="sidebar-wrap-container">
                    <!-- sb-widget-wrap-->
                    <div class="sb-widget-wrap fl-wrap">
                        <h3>Latest Works</h3>
                        <div class="sb-widget  fl-wrap">
                            <div class="categories_widget-wrap">
                                <!-- categories_widget_item-->
                                <a class="categories_widget_item" href="{% url 'light_mode:portfolio_single' %}">
                                    <div class="categories_widget_item_img">
                                        <img src="{% static 'images/folio/14.jpg' %}" class="respimg" alt="">
                                    </div>
                                    <span class="categories_widget_title">Crazy, Cute Couple</span>
                                </a>
                                <!-- categories_widget_item end-->
                                <!-- categories_widget_item-->
                                <a class="categories_widget_item" href="{% url 'light_mode:portfolio_single' %}">
                                    <div class="categories_widget_item_img">
                                        <img src="{% static 'images/folio/15.jpg' %}" class="respimg" alt="">
                                    </div>
                                    <span class="categories_widget_title">Alone on Nature</span>
                                </a>
                                <!-- categories_widget_item end-->							
                                <!-- categories_widget_item-->
                                <a class="categories_widget_item" href="{% url 'light_mode:portfolio_single' %}">
                                    <div class="categories_widget_item_img">
                                        <img src="{% static 'images/folio/16.jpg' %}" class="respimg" alt="">
                                    </div>
                                    <span class="categories_widget_title">Living in my dream</span>
                                </a>
                                <!-- categories_widget_item end-->
                                <!-- categories_widget_item-->
                                <a class="categories_widget_item" href="{% url 'light_mode:portfolio_single' %}">
                                    <div class="categories_widget_item_img">
                                        <img src="{% static 'images/folio/17.jpg' %}" class="respimg" alt="">
                                    </div>
                                    <span class="categories_widget_title">Sunny Side Up</span>
                                </a>
                                <!-- categories_widget_item end-->					
                            </div>
                        </div>
                    </div>
                    <!-- sb-widget-wrap end-->					
                    <!-- sb-widget-wrap-->
                    <div class="sb-widget-wrap fl-wrap">
                        <h3>Subscribe To  Newsletter</h3>
                        <div class="sb-widget  fl-wrap">
                            <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet,  </p>
                            <div class="subcribe-form fl-wrap">
                                <form id="subscribe">
                                    <input class="enteremail" name="email" id="subscribe-email" placeholder="Your Email" spellcheck="false" type="text">
                                    <button type="submit" id="subscribe-button" class="subscribe-button">Submit</button>
                                    <label for="subscribe-email" class="subscribe-message"></label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- sb-widget-wrap end-->
                    <!-- sb-widget-wrap-->
                    <div class="sb-widget-wrap fl-wrap">
                        <h3>Social Links</h3>
                        <div class="sb-widget    fl-wrap">
                            <div class="sidebar-social fl-wrap">
                                <ul>
                                    <li><a href="#" target="_blank">Fb</a></li>
                                    <li><a href="#" target="_blank">Tw</a></li>
                                    <li><a href="#" target="_blank">Ins</a></li>
                                    <li><a href="#" target="_blank">Tic</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- sb-widget-wrap end-->
                </div>
            </div>
            <div class="sb-overlay"></div>
            <!-- sidebar end-->				
        </div>
        <!-- Main end -->
{% endblock content %}