{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}
{% block extrahead %}

{% endblock %}
{% block content %}
  <!-- wrapper -->
  <div id="wrapper">
    <!-- content-holder -->
    <div class="content-holder">
      <!-- hero-carousel-wrapper -->
      <div class="hero-carousel-wrapper hcw_2">
        <div class="fs-slider2 main-carousel lightgallery full-height fs-anim-t" data-mousecontrol2="true">
          <div class="swiper-container full-height">
            <div class="swiper-wrapper">
              <!-- swiper-slide -->
              {% for product in products %}
                <div class="swiper-slide">
                  <div class="main-carousel_item fs-wrapper">
                    <div class="bg" data-bg="{{ product.image_main.url }}" data-swiper-parallax="10%"></div>
                    <div class="overlay"></div>
                    <div class="thumb-info">
                      <h3>
                        <a href="{% if 'dark' in request.path %}
                            {% url 'portfolio:portfolio_single_dark' product.id %}
                          {% else %}
                            {% url 'portfolio:portfolio_single_light' product.id %}
                          {% endif %}"
                          class="ajax">
                          {{ product.title }}
                        </a>
                      </h3>
                      <p>{{ product.sub_title }}</p>
                      <a href="{% if 'dark' in request.path %}
                          {% url 'portfolio:portfolio_single_dark' product.id %}
                        {% else %}
                          {% url 'portfolio:portfolio_single_light' product.id %}
                        {% endif %}"
                        class="ajax fs-slider-item_btn">
                        مشاهده ی محصول
                      </a>
                    </div>
                    <div class="slide_category">{{ product.category.first }}</div>
                  </div>
                </div>
              {% endfor %}
              <!-- swiper-slide end -->
            </div>
          </div>
        </div>
        <div class="ccsw ssanim_btn ccsw-prev">
          <i class="fal fa-angle-left"></i>
        </div>
        <div class="ccsw ssanim_btn ccsw-next">
          <i class="fal fa-angle-right"></i>
        </div>
        <div class="fs-slider_counter">
          <div class="current">01</div>
          <div class="total"></div>
        </div>
      </div>
      <!-- fixed-bottom-container -->
      <div class="fixed-bottom-container">
        <div class="scroll-down-wrap">
          <div class="mousey">
            <div class="scroller"></div>
          </div>
        </div>
        <div class="hero-slider-wrap_pagination-wrap">
          <div class="hero-slider-wrap_pagination hero-slider-pag"></div>
        </div>
        <div class="slide-progress-wrap">
          <div class="slide-progress"></div>
        </div>
      </div>
      <!-- fixed-bottom-container end -->
    </div>
    <!-- content-holder end -->
  </div>
  <!-- wrapper end -->
{% endblock %}
