{% extends 'accounts/base.html' %}
{% load static %}
{% block extrahead %}
  <title>Password Reset Done</title>
{% endblock %}
{% block content %}
  <!-- Login 2 start -->
  <div class="login-2 login-background">
    <div class="login-background-inner">
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
    </div>
    <div class="login-2-inner">
      <div class="container">
        <div class="row login-box">
          <div class="col-lg-6 align-self-center pad-0 form-info">
            <div class="form-section clearfix">
              <h2>لینک تغییر پسورد ارسال گردید</h2><br /><br />
              <div class="btn-section clearfix">
                <h5>ما دستورالعمل های تنظیم رمز عبور را برای شما ایمیل کرده ایم<br />،اگر حسابی با ایمیلی که وارد کرده اید وجود داشته باشد<br />.به زودی آن را دریافت خواهید کرد</h5><br />
                <h5>،اگر ایمیلی به دست شما نرسید<br />لطفا از ایمیلی که با آن ثبت نام کرده اید اطمینان حاصل نمایید<br />.و پوشه ی هرزنامه ی ایمیل خود را نیز بررسی کنید</h5><br />
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-lg-6 align-self-center pad-0 bg-img">
            <div class="info clearfix">
              <div class="box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                  <div class="logo-2">
                    <a href="{% if 'light' in request.path %}
                        {% url 'accounts:login_light' %}
                      {% else %}
                        {% url 'accounts:login_dark' %}
                      {% endif %}">
                      <img src="{% static 'account_assets/img/logos/logo-2.png' %}" alt="logo" />
                    </a>
                  </div>
                  <h3>ثبت نام و ورود با</h3>
                  <div class="social-list">
                    <a href="#" class="facebook-bg disabled-link"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter-bg disabled-link"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                    <a href="#" class="linkedin-bg disabled-link"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Login 2 end -->
{% endblock %}
