{% extends 'accounts/base.html' %}
{% load static %}
{% block extrahead %}
  <title>Password Reset Done</title>
{% endblock %}
{% block content %}
  <!-- Login 2 start -->
  <div class="login-2 login-background">
    <div class="login-background-inner">
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
      <div class="cube"></div>
    </div>
    <div class="login-2-inner">
      <div class="container">
        <div class="row login-box">
          <div class="col-lg-6 align-self-center pad-0 form-info">
            <div class="form-section clearfix"></br>
              <h1>پسورد شما با موفقیت تغییر یافت</h1>
              <div class="btn-section clearfix">
              </div>
              <div class="clearfix"></div>
              <h3>برای <a title="Login" href="{% url 'accounts:login_light' %}" class="a-style"> ورود</a> با پسورد جدید میتوانید اقدام کنید</h3><br />
            </div>
          </div>
          <div class="col-lg-6 align-self-center pad-0 bg-img">
            <div class="info clearfix">
              <div class="box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                  <div class="logo-2">
                    <a href="{% if 'dark' in request.path %}{% url 'accounts:login_dark' %}{% else %}{% url 'accounts:login_light' %}{% endif %}">
                      <img src="{% static 'account_assets/img/logos/logo-2.png' %}" alt="logo" />
                    </a>
                  </div>
                  <h3>ثبت نام و ورود با</h3>
                  <div class="social-list">
                    <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                    <a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Login 2 end -->
{% endblock %}
