{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Mr.BoO - Beyhagh-bastan</title>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="{% static 'css/reset_first_page.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/style_first_page.css' %}">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    </head>
    <body>
        <!--loader-->
        <div class="main-loader">
            <div class="ml-wrap">
                <div class="ml-mask"></div>
                <img src="{% static 'images/beyhagh-bastan-white(text).png' %}" alt="">
            </div>
            <div class="ml_images-wrap">
                <div class="ml_bg-item" style="top:-30px; left: 0">
                    <div class="bg" data-bg="{% static 'images/1.jpg' %}"></div>
                </div>
                <div class="ml_bg-item" style="bottom:  -20px; left: 50px">
                    <div class="bg" data-bg="{% static 'images/4.jpg' %}"></div>
                </div>
                <div class="ml_bg-item" style="top:30px; right: -120px">
                    <div class="bg" data-bg="{% static 'images/5.jpg' %}"></div>
                </div>
            </div>
        </div>
        <!--loader end-->		
        <!--================= main start ================-->
        <div id="main">
            <div class="logo-holder"> 
                <img src="{% static 'images/beyhagh-bastan-white.png' %}" alt="">
            </div>
            <div class="details_templ">
                <h3>Creative Responsive Photography Portfolio for : <br> Designers, Photographers, Video producers,<br> Architects  etc.</h3>
                <a href="#">Buy Photogam</a>			
            </div>
            <div class="version-wrap">
                <div class="version-inner">
                    <img src="{% static 'images/b5.jpg' %}" alt="">
                    <img src="{% static 'images/c5.jpg' %}" class="dark-ver" alt="">
                    <div class="ver-link">
                        <a href="{% url 'light_mode:index_carousel2_dark' %}" target="_blank" class="drt"><span> Dark Version</span></a>						
                        <a href="{% url 'light_mode:index_carousel2' %}" target="_blank" class="lrt"> <span>Light Version</span></a>
                    </div>
                </div>
            </div>
            <div class="notifer">
                Made by <a href="https://themeforest.net/user/kwst/portfolio" target="_blank">Mr.BoO </a>
            </div>
            <div class="main-bg-warp">
                <div class="over-bg"></div>
                <div class="bg" data-bg="{% static 'images/bg.jpg' %}"></div>
            </div>
        </div>
        <!-- Main end --> 
        <script type="text/javascript" src="{% static 'js/jquery.min_first_page.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/scripts_first_page.js' %}"></script>
    </body>
</html>