{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load jalali_tags %}
{% block extrahead %}

{% endblock %}
{% load blog_tags %}
{% block content %}
  <!-- wrapper -->
  <div id="wrapper">
    <!-- content-holder -->
    <div class="content-holder">
      <!-- column-image -->
      <div class="column-image">
        <div class="bg" data-bg="{% static 'images/single-post-image.jpg' %}"></div>
        <div class="overlay"></div>
        <div class="column-title">
          <h2>Our Last News</h2>
          <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</h3>
        </div>
        <div class="ci_dec">
          <span></span>
        </div>
      </div>
      <!-- column-image end -->
      <!-- column-wrapper -->
      <div class="column-wrapper">
        <!-- section -->
        <section>
          <div class="container small-container">
            <div class="blog-opt">
              {% include 'blog/blog-search.html' %}

              <!-- filter category -->
              <div class="category-filter blog-btn-filter">
                <div class="blog-btn">تگ ها / دسته بندی ها</div>
                <div class="blog-filter-wrap">
                  <div class="blog-filter-wrap_item" data-bfgt="Categories">
                    <ul>
                      {% for cat in context.category.all %}
                        <li>
                          <a href="{% if 'dark' in request.path %}
                              {% url 'blog:category_dark' cat %}
                            {% else %}
                              {% url 'blog:category_light' cat %}
                            {% endif %}">
                            {{ cat }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="blog-filter-wrap_item" data-bfgt="Tags">
                    <ul>
                      {% for tag in context.tag.all %}
                        <li>
                          <a href="{% if 'dark' in request.path %}
                              {% url 'blog:tag_dark' tag %}
                            {% else %}
                              {% url 'blog:tag_light' tag %}
                            {% endif %}">
                            {{ tag }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="blog-filter-wrap_title"></div>
                </div>
              </div>
              <!-- filter category end -->
            </div>
            <div class="section-title n_dec" style="text-align: right;">
              <h3>{{ context.title }}</h3>
              <h4>{{ context.sub_title }}</h4>
            </div>
            <!-- blog media -->
            <div class="blog-media">
              <div class="single-slider-wrap">
                <div class="single-slider">
                  <div class="swiper-container">
                    <div class="swiper-wrapper lightgallery">
                      <div class="swiper-slide hov_zoom">
                        <img src="{{ context.image_main.url }}" alt="" /><a href="{{ context.image_main.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                      </div>
                      {% for image in images %}
                        <div class="swiper-slide hov_zoom">
                          <img src="{{ image }}" alt="" /><a href="{{ image }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="single_slider_btn hsc-next">
                  <i class="fal fa-angle-right"></i>
                </div>
                <div class="single_slider_btn hsc-prev">
                  <i class="fal fa-angle-left"></i>
                </div>
              </div>
              <div class="ss-slider-pagination_wrap">
                <div class="ss-slider-pagination"></div>
              </div>
            </div>
            <!-- blog media end -->
            <!-- single-post-container -->
            <div class="single-post-container">
              <p>{{ context.content_1|safe }}</p>
              <div class="post-img-row">
                <div class="post-img-row_item">
                  <img src="{{ context.image_content_1.url }}" class="respimg" alt="" />
                </div>
                <div class="post-img-row_item">
                  <img src="{{ context.image_content_2.url }}" class="respimg" alt="" />
                </div>
              </div>
              <p>{{ context.content_2|safe }}</p>
              {% comment %} <p>Lolibero. Aliquam erats nec. Integer mi, dapibus a ante non, accumsan luctus augue.</p>
              <p>Lorem ipsum ellis quam. Cras nisl mi, dapibus a ante non, accumsan luctus augue.</p>
              <blockquote>
                <p>elit. Cras la inia magna vel molestie faucibus.</p>
              </blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing .</p> {% endcomment %}
              <div class="post_opt-wrap">
                <div class="pr-tags">
                  <span>تگ ها :</span>
                  <ul>
                    {% for tag in context.tag.all %}
                      <li>
                        <a href="{% if 'dark' in request.path %}
                            {% url 'blog:tag_dark' tag %}
                          {% else %}
                            {% url 'blog:tag_light' tag %}
                          {% endif %}">
                          {{ tag }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="post-opt_single gray-bg">
                  <span style="{% if 'light' in request.path %}color:black;{% endif %}"><i class="fal fa-eye"></i> {{ context.counted_views }} دیده شده</span>
                </div>
              </div>
            </div>
            <!-- single-post-container end -->
          </div>
        </section>
        <!-- section end -->
        <!-- section -->
        <section>
          <div class="container small-container">
            <div class="section-title n_dec st_small">
              <h3>دیدگاه ها</h3>
            </div>
            <div class="commnets-list">
              <!-- comment-item -->
              {% if comments %}
                {% for comment in comments %}
                  <div class="comment-item">
                    <div class="comment-author">
                      <img alt="" src="{% static 'images/avatar/2.jpg' %}" width="50" height="50" />
                      <h5><a href="#">{{comment.name}}</a></h5>
                      <h6><a href="#">{{comment.created_date|naturaltime}}</a></h6>
                    </div>
                    <div class="comment-body gray-bg">
                      <p>{{comment.message|truncatewords_html:10}}</p>
                      <div class="comm-num">{{forloop.counter}} .</div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <div class="comment-item">
                  <div class="comment-author">
                  </div>
                  <div class="comment-body gray-bg">
                  </div>
                </div>
              {% endif %}
              <!-- comment-item end -->
            </div>
            <div class="comment-form">
              <div class="section-title n_dec st_small">
                <h3>ارسال دیدگاه</h3>
              </div>
              <form class="custom-form" method="post">
                {% csrf_token %}
                <fieldset>
                  <input type="hidden" name="post" value="{{context.id}}">
                  <input type="text" {% if request.user.is_authenticated %}hidden="True" value="{{request.user.first_name}}"{% else %}value=""{% endif %} name="name" id="name" placeholder="* نام" required/>
                  <input type="text" {% if request.user.is_authenticated %}hidden="True" value="{{request.user.email}}"{% else %}value=""{% endif %} name="email" id="email-comment" placeholder="* ایمیل آدرس" style="" required/>
                  <input type="text" name="subject" id="subject" placeholder=":عنوان" value="" required/>
                  <textarea name="message" id="comments" cols="40" rows="3" placeholder=":پیام شما" required></textarea>
                  <button class="btn" id="submit">ارسال</button>
                </fieldset>
              </form>
            </div>
          </div>
        </section>
        <!-- section end -->
        <div class="order-wrap">
          <div class="container small-container">
            <h4>آماده شرکت در گالری هستید؟</h4>
          </div>
          <a href="{% if 'dark' in request.path %}
              {% url 'light_mode:contact_dark' %}
            {% else %}
              {% url 'light_mode:contact' %}
            {% endif %}"
            class="order_btn">
            ارتباط با ما
          </a>
        </div>
      </div>
      <!-- column-wrapper -->
      <!-- fixed-bottom-container -->
      <div class="fixed-bottom-container">
        <div class="scroll-down-wrap">
          <div class="mousey">
            <div class="scroller"></div>
          </div>
        </div>
        <a href="{% url 'light_mode:index_carousel2' %}" class="bth_btn hbn_vis"><i class="fal fa-home-lg-alt"></i><strong>خانه</strong></a>
        <div class="progress-bar-wrap">
          <div class="progress-bar color-bg"></div>
        </div>
      </div>
      <!-- fixed-bottom-container end -->
    </div>
    <!-- content-holder end -->
  </div>
  <!-- wrapper end -->
{% endblock %}
