{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>بیهق باستنان</title>
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet" />
    <link rel="stylesheet" href="{% static '404_html_page/css/404_html_page.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="text">
      <p>404</p>
    </div>
    <div class="container">
      <!-- caveman left -->
      <div class="caveman">
        <div class="leg">
          <div class="foot">
            <div class="fingers"></div>
          </div>
        </div>
        <div class="leg">
          <div class="foot">
            <div class="fingers"></div>
          </div>
        </div>
        <div class="shape">
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <div class="head">
          <div class="eye">
            <div class="nose"></div>
          </div>
          <div class="mouth"></div>
        </div>
        <div class="arm-right">
          <div class="club"></div>
        </div>
      </div>
      <!-- caveman right -->
      <div class="caveman">
        <div class="leg">
          <div class="foot">
            <div class="fingers"></div>
          </div>
        </div>
        <div class="leg">
          <div class="foot">
            <div class="fingers"></div>
          </div>
        </div>
        <div class="shape">
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <div class="head">
          <div class="eye">
            <div class="nose"></div>
          </div>
          <div class="mouth"></div>
        </div>
        <div class="arm-right">
          <div class="club"></div>
        </div>
      </div>
    </div>
    <!-- //////////////// CREDIT //////////////// -->
    <div id="get_lost">
      <h1>(: اینجا هیچ خبری نیست</h1>
    </div>
    <div id="get_lost2">
      <i class="fa fa-arrow-down"></i>&nbsp;&nbsp;&nbsp;
      <h3>اگه گم شدی خونه همین نزدیکی هاست</h3>&nbsp;&nbsp;&nbsp;
      <i class="fa fa-arrow-down"></i>
    </div>
    <div id="get_lost3">
      <h4> بزار برت گردونم صفحه اول تا <span id="counter">9</span> ثانیه دیگه</h4>
    </div>
    <a href="/" target="_blank">
      <div id="link">
        <i class="fa fa-home"></i>
        <p>خانه</p>
      </div>
    </a>
    <!-- partial -->
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="{% static '404_html_page/js/script.js' %}"></script>
  </body>
</html>
