{% load static %}
{% load humanize %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <!-- =============== basic =============== -->
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Photogam - Creative Photography Portfolio Template</title>
    <!-- =============== css =============== -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/map.css' %}" />
    {% if "light" in request.path %}
      <link type="text/css" rel="stylesheet" href="{% static 'css/light-style.css' %}">
    {% endif %}
    {% block extrahead %}

    {% endblock %}
    <!-- =============== favicons =============== -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  </head>
  <body>
    {% block content %}

    {% endblock %}
    <!-- =============== scripts =============== -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
  </body>
  <!-- Main msg for all pages *********************************************************************************** -->
  {% if messages %}
    <script>
      alert('has some msgs')
    </script>
    {% for message in messages %}
      <script>
        alert('has a {{message.tags}}')
      </script>
      {% if message.tags == 'success' %}
        <script>
          alert('Succes msg')
          Swal.fire({
            icon: 'success',
            title: 'Well',
            html: '{{message|safe}}',
            footer: '<a href="/">Home</a>'
          })
        </script>
      {% elif message.tags == 'error' %}
        <script>
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            html: '{{message|safe}}',
            footer: '<a href="/">Home</a>'
          })
        </script>
      {% endif %}
    {% endfor %}
  {% endif %}
  <!-- Main msg for all pages *********************************************************************************** -->
</html>
